<footer>
    <div class="footer">
        <a style="color: white;" class="navbar-brand" href={{path('app_home')}}>Conciergeries
            <span style="
            color: black;   
            background-color: #e6c8447d;
            border-radius: 5px;
            display: inline-block;
            transform: rotate(-3deg);" 
            class="span-logo">76</span></a>
        <ul>
            <li>
                <a type="button" href="app_contact">Contact</a>
            </li>

            <li>
                <a type="button" href="app_cgu">CGU</a>
            </li>
        </ul>
        <ul>
            <li>
                
                <a class="nav-link" href={{path("app_services")}}>Services</a>
            </li>
            <li>
                <a class="nav-link" href={{path("app_map")}}>Map</a>
            </li>
        </ul>

    </div>
    <p>All rights reserved. 2025</p>

</footer>