<footer>
    <div class="footer">
        <h3>Conciergerie76</h3>
        <ul>
            <li>
                <a type="button" href="#">À propos</a>
            </li>

            <li>
                <a type="button" href="#">Services</a>
            </li>
        </ul>
        <ul>
            <li>
                <a type="button" href="#">Contact</a>
            </li>
            <li>
                <a type="button" href="#">Recherche</a>
            </li>
        </ul>

    </div>
    <p>All rights reserved. 2025</p>

</footer>