<footer>
    <div class="footer">
        <h3>Conciergerie76</h3>
        <ul>
            <li>Item</li>
            <li>Item</li>
        </ul>
        <ul>
            <li>Item</li>
            <li>Item</li>
        </ul>

    </div>
        <p>All rights reserved. 2025</p>
  
</footer>