{% extends 'base.html.twig' %}

{% block title %}Modifier utilisateur{% endblock %}

{% block body %}
<main>
    <section>
        <br>
        <h1 style="text-align: center;">Mise à jour de votre profil</h1>
        <br>

        {{ include('user/_form.html.twig', {'button_label': 'Mise à jour'}) }} <br>
        {{ include('user/_delete_form.html.twig') }}

        <a ype="button" class="btn btn-outline-dark" href="{{ path('app_user_show', {'id': app.user.id}) }}">⬅ Revenir à la page
            précédente</a>
    </section>
</main>
{% endblock %}