{% extends 'base.html.twig' %}

{% block title %}Nouveau utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouveau utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Revenir à la liste</a>
{% endblock %}
